<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.kr.molegame">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Molegame">
        <activity android:name=".GameHalfRandomMode"></activity>
        <activity android:name=".GameHalfRandomModeSetting" />
        <activity android:name=".GamePractice1Mode" />
        <activity android:name=".GamePractice1ModeSetting" />
        <activity android:name=".MoleGameActivity" />
        <activity android:name=".MoleGameResult" />
        <activity android:name=".PracticeModeMenu" />
        <activity android:name=".MoleGameSetting" />
        <activity
            android:name=".GameMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>